@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-animation: fade 0.3s ease-in-out 0s 1;
          animation: fade 0.3s ease-in-out 0s 1;
  scroll-behavior: smooth;
}

body {
  background: #4631a6;
  background: -webkit-gradient(linear, left bottom, left top, from(#4631a6), to(#0b3c7e));
  background: linear-gradient(0deg, #4631a6 0%, #0b3c7e 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 1rem;
  row-gap: 1.3rem;
  -webkit-animation: fade 0.5s ease-in-out 0s 1;
          animation: fade 0.5s ease-in-out 0s 1;
  position: relative;
}

.nav .heading {
  font-size: 2rem;
  color: white;
  font-weight: bolder;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.nav .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  padding: 0.2rem 0.3rem;
  width: 50;
  position: relative;
  border-radius: 5rem;
  font-size: 0.7rem;
  color: white;
  cursor: pointer;
}

.nav .list .arrow {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.nav .list .iRotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.nav .list:hover {
  color: #00c6ff;
}

.nav .dropDown {
  background: #00c6ff;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#00c6ff), to(#0072ff));
  background: linear-gradient(to right, #00c6ff, #0072ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 90%;
  border-radius: 10px;
  color: black;
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  max-width: 600px;
}

.nav .dropDown .cityList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding: 1rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column-gap: 5rem;
  width: 100%;
}

.nav .dropDown .cityList .cities {
  list-style-type: none;
  padding: 0.5rem 0;
  font-size: 0.8rem;
  cursor: pointer;
}

.nav .dropDown .cityList .cities:hover {
  color: white;
}

.nav .dropDownVisible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fade 0.5s ease-in-out 0s 1;
          animation: fade 0.5s ease-in-out 0s 1;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    top: 0%;
  }
  50% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.7;
    top: 110%;
  }
  100% {
    opacity: 1;
    top: 100%;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    top: 0%;
  }
  50% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.7;
    top: 110%;
  }
  100% {
    opacity: 1;
    top: 100%;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 1.8rem;
}

.container .inputSearch {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
  max-width: 600px;
}

.container .inputSearch #city {
  border: none;
  padding: 0.7rem;
  width: 70%;
  border-radius: 2px;
  background: transparent;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.container .inputSearch #city:hover {
  border-bottom: 0.1px solid white;
}

.container .inputSearch .location {
  padding: 0.5rem;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.container .inputSearch .location:hover {
  color: #16b6f5;
}

.container .inputSearch ::-webkit-input-placeholder {
  font-size: 0.5rem;
  letter-spacing: 0.1rem;
  color: white;
}

.container .inputSearch :-ms-input-placeholder {
  font-size: 0.5rem;
  letter-spacing: 0.1rem;
  color: white;
}

.container .inputSearch ::-ms-input-placeholder {
  font-size: 0.5rem;
  letter-spacing: 0.1rem;
  color: white;
}

.container .inputSearch ::placeholder {
  font-size: 0.5rem;
  letter-spacing: 0.1rem;
  color: white;
}

.container .citySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.container .citySection i {
  color: #dd2020;
}

.container .citySection p {
  font-size: 1.2rem;
  color: white;
}

.todayWeather {
  margin-top: 3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-animation: fade 0.5s ease-in-out 0s 1;
          animation: fade 0.5s ease-in-out 0s 1;
}

.todayWeather div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 80%;
  border-radius: 25px;
  max-width: 600px;
  padding: 0 0 0.5rem 0;
  background: #00c6ff;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#00c6ff), to(#0072ff));
  background: linear-gradient(to right, #00c6ff, #0072ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.todayWeather div .now {
  position: absolute;
  text-align: center;
  font-size: 1rem;
  z-index: 2;
  left: 10%;
  top: 10%;
  color: black;
}

.todayWeather div img {
  width: 50%;
}

.todayWeather div .tempDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.todayWeather div .tempDetails .temp {
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
}

.todayWeather div .tempDetails .description {
  font-size: 1.2rem;
  font-weight: lighter;
  font-family: 'Poppins', sans-serif;
}

.todayWeather div .tempDetails .date {
  font-size: 0.6rem;
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
  font-family: 'Poppins', sans-serif;
}

.todayWeather div .climateDetails {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
}

.todayWeather div .climateDetails .windSpeed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  background: transparent;
}

.todayWeather div .climateDetails .windSpeed i {
  font-size: 1.5rem;
  color: black;
}

.todayWeather div .climateDetails .windSpeed p {
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;
}

.todayWeather div .climateDetails .humidity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  background: transparent;
}

.todayWeather div .climateDetails .humidity i {
  font-size: 1.5rem;
  color: black;
}

.todayWeather div .climateDetails .humidity p {
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;
}

.nextDays {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 1rem 0;
}

.nextDays .nextSection {
  max-width: 800px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  overflow-x: scroll;
  padding: 2rem 0.5rem 2rem  0.5rem;
}

.nextDays .nextSection .next {
  background: #00c6ff;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#00c6ff), to(#0072ff));
  background: linear-gradient(to right, #00c6ff, #0072ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  padding: 1rem 2.5rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nextDays .nextSection .next p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  font-weight: bolder;
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nextDays .nextSection .next img {
  width: 250%;
}

.nextDays .nextSection .next .date {
  color: black;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.nextDays .nextSection .next .date span {
  font-family: 'Poppins', sans-serif;
}

.nextDays .nextSection .next:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.nextDays .next30 {
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 800px;
}

.nextDays .next30 p {
  font-size: 0.8rem;
  max-width: 600px;
  font-family: 'Poppins', sans-serif;
}

.nextDays .next30 div {
  padding: 0.5px;
  background-color: white;
  width: 70%;
}

.nextDays .next30 a {
  text-decoration: none;
  font-size: .8rem;
  font-family: 'Poppins', sans-serif;
  color: #00c6ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.nextDays .next30 a i {
  font-size: 1.5rem;
}

@media only screen and (min-width: 580px) {
  .nav .list p, .nav .list i {
    font-size: 1rem;
  }
  .container .inputSearch #city::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
  .container .inputSearch #city:-ms-input-placeholder {
    font-size: 0.8rem;
  }
  .container .inputSearch #city::-ms-input-placeholder {
    font-size: 0.8rem;
  }
  .container .inputSearch #city::placeholder {
    font-size: 0.8rem;
  }
  .container .citySection p, .container .citySection i {
    font-size: 2rem;
  }
  .todayWeather div img {
    width: 30%;
  }
  .todayWeather div .tempDetails .date {
    font-size: 1rem;
  }
  .todayWeather div .tempDetails .description {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */